<main>
  <h1 class="genre_title_h1">All <%= title %></h1>
  <hr />

  <div class="genre_list">

    <% if (genre_games.length == 0) { %>
      <h2>There are no games in this genre</h2>
    <% } else { %>

      <% genre_games.forEach(game => { %>
        
        <a href=<%=game.url %>>
          <div class="genre_game_info">

            <div class="genre_game_title">
              <h3><%= game.title %></h3>
            </div>
            
            <% if (game.productImage) { %>
            <img src="<%=game.productImage %>" alt="Game image" />
            <% } else { %>
            <img src="/images/games-list.jpg" alt="Game image placeholder" />
            <% } %>

          </div>
        </a>

      <% }) %>

    <% } %>
  </div>

  <div class="btn-div">
    <!-- Not sure if I should leave update genre button -->
    <!-- <a href="<%= genre.url %>/update">
      <button class="btn">Update Genre</button>
    </a> -->
    <a href="<%= genre.url %>/delete">
      <button class="btn">Delete Genre</button>
    </a>
  </div>

</main>
